.roy{
	color:red;
	text-align:center;
	
}
.t {
	border:7px solid black;
	width:230px;
	height:230px;
	border-radius:50%;
	margin: 20px;
	text-align:center;

}
.mari{
	text-align:center;
	color:black;
}
.M{
	color:red;
	text-align:center;
}
.y{
	text-align:center;
	color:black;

}
.r{
	padding:10px;
	border-radius: 50%;
	text-align:center;
	margin: 100px;
	border:7px solid black;

}
body{

	background:purple;
}
.e{
	color:white;
}
.y{
	color:black;
}
.q{
	border:7px solid black;
	width:230px;
	height:230px;
	border-radius:50%;
	margin: 20px;
	text-align:center;

}
.w{
border:7px solid white;
	width:230px;
	height:230px;
	border-radius:10%;
	margin: 20px;
	text-align:center;	
}
.minaya{
	color:red;
	text-align:center;
}
.o{
	color:white;
	text-align:center;
}
.yony{
	color:red;
	text-align:center;
}
.poma{
	color:white;
	text-align:center;
}
.juan{
	color:red;
	text-align:center;
}
.lulu{
	color:red;
	text-align:center;
}
.luna{
	color:white;
	text-align:center;
}
.paola{
	color:black;
	text-align:center;
}
